*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    color: #666666;
    background-color: rgba(255, 228, 196, 0.349);
}

.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Cabecera*/

header{
    position: fixed;
    top:0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
    box-shadow: 0px 4px 4px rgba(89, 89, 236, 0.246);
    background-color: rgba(0, 0, 139, 0.219);
    z-index: 5;
    transition: all 300ms;
}

.burger{
    font-size: 34px;
    display: none;
}

a{
    color:white;
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
}
a:hover{
    color:darkblue;
}

li{
    color:white;
    font-size: 15px;
}

li:hover{
    color:darkblue;
}

i{
    color:white;
}

.logo{
    font-size: 50px;
    color: white;
}

header nav ul{
    list-style: none;
    display:flex;
    cursor: pointer;
}

header nav ul a{
    color: white;
    display: flex;
    justify-content: space-between;
}

header nav ul li{
    padding: 10px;
}

.burger{
    display: none;
    color: white;
}

.primera{
    margin-top: 100px;
}

.breadcrumbs{
    color: darkblue;
    padding: 10px;
}

.breadcrumbs a{
    color: darkblue;
}

/* Menú hamburguesa páginas normales */
.burger2{
    display: none;
    padding-left: 10px;
}

.burger2 .barra{
    height: 4px;
    width: 36px;
    margin: 6px auto;
    background-color: darkblue;
}

.arriba, .media, .abajo{
    transition: all 700ms ease;
}

.burger2.abierto .arriba{
    transform: translateY(10px) rotateZ(45deg);
}

.burger2.abierto .media{
    width: 0;
}

.burger2.abierto .abajo{
    transform: translateY(-10px) rotateZ(-45deg);
}

.menu2{
    position: absolute;
    top: 100px;
    left: 0;
    width: 80%;
    height: calc(100vh - 105px);
    background-color: rgba(0, 0, 139, 0.356);
    z-index: 10;
    display: none;
    box-shadow:0px 4px 4px darkblue;
    margin-top: 5px;
}

.menu2 ul{
    display:flex;
    flex-direction: column;
}

.menu2 ul a{
    width: 100%;
    padding: 10px 20px;
    transform: translateX(-200px);
}

.menu2 ul a:nth-child(1){
    transition: transform 600ms ease-in-out;
}

.menu2 ul a:nth-child(2){
    transition: transform 800ms ease-in-out;
}

.menu2 ul a:nth-child(3){
    transition: transform 1000ms ease-in-out;
}

.menu2 ul a:nth-child(4){
    transition: transform 1300ms ease-in-out;
}

.menu2 ul a:nth-child(5){
    transition: transform 1500ms ease-in-out;
}

.menu2 ul a.aparicion{
    transform: translateX(0px);
}
.menu2 ul a:hover{
    background-color:  rgba(0, 0, 139, 0.356);
}

.menu2 ul a.activo{
    background-color:  rgba(0, 0, 139, 0.356);
}

/*Estilos para página mapa con overlay*/

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.698);
    opacity: 0;
    z-index: -1;
    transition: all 500ms ease;
}

.overlay.visible{
    opacity: 1;
    z-index: 9;
}

.modal{
    position: fixed;                    /*Respecto al viewport*/
    top: 50%;                           /*En el elemento en el que está*/
    left: 50%;
    transform: translate(-50%,-50%);    /*sobre el propio elemento*/
    width: 80%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.400);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transition: all 500ms ease;
    background-color: white;
}

.modal.visible{
    opacity: 1;
    visibility: visible;
}

.modal-header{
    font-size: 30px;
    padding: 15px;
    color: crimson;
}

/*Tarjetas*/

.contenedor{
    padding: 80px;
    margin:30px;
    font-family: 'Gloria Hallelujah', cursive;
    /*Receta grid para filas y columnas con cards*/
    display:grid;
    grid-template-columns:repeat(auto-fit, 300px);
    grid-template-rows:repeat(2,400px);
    grid-gap:20px;
    justify-content: space-between;
}

.tarjeta{
    width: 300px;
    height: 400px;
    box-shadow: 4px 4px 8px darkblue;
}

.imagen{
    width: 300px;
    height: 200px;
    overflow: hidden;
    text-align:center;
}

.imagen img{
    height: 200px;
}


.btn{
    margin-top: 10px;
    text-decoration: none;
    background-color: darkblue;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border-bottom: 4px solid rgb(62, 62, 167);
    align-self: center;
}

.btn:hover{
    background-color: rgb(62, 62, 167);
}


.datos{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    padding: 10px;
    margin: 20px;
}

.direccion{
    width: 200px;
}

/*Estilo alquiler epecífico*/

.descripcion{
    color: black;
}

.descripcion li{
    padding: 10px;
    margin: 15px;
    color: black;
    display: inline;
    font-size: 20px;
}

h1{
    margin-top: 50px;
    text-align: center;
    color: black;
}

h3{
    padding: 5px;
    margin: 5px;
    color: black;
}

.descripcion p{
    padding: 5px;
    margin: 15px;
    color: black;
    box-shadow: 4px 4px 8px rgba(0, 0, 139, 0.274);
}

.texto{
    margin: 20px;
    font-size: 20px;
    text-align: justify;
}

.mapa{
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.detalles img{
    box-shadow: 4px 4px 8px darkblue;
    margin: 10px;
}

.detalles2 img{
    box-shadow: 4px 4px 8px darkblue;
    margin:30px;
}

.fila{
    margin:20px;
    padding: 20px;
    font-size: 22px;
    text-align: center;
}


/*Footer*/

footer{
    background-color: #7f7fdb;
    background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%2300008b' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size:auto;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
 }

 .top{
    height: 30px;
    width: 30px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);/*La mitad del ancho del elemento(al estar expresado en %)*/
    font-size: 30px;
    color: darkblue; 
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2em;
}

footer p{
    font-size: 18px;
    padding: 5px;
}

.izdo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    flex-basis: 300px;
    flex-grow: 1
}

.centro{
    padding: 10px;
    flex-basis: 300px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centro a{
    padding: 5px;
    color: black;
    font-size: 18px;
}

.centro a:hover{
    color: #00008b;
}

.centro a.activo{
    color: darkblue;
}

a.activo{
    color: darkblue;
}

.dcho{
    padding: 10px;
    flex-basis: 300px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dcho a{
    padding: 5px;
    color: black;
    font-size: 20px;
    text-align: right;
}

.dcho a:hover{
    color: darkblue;
}

.copy{
    padding: 5px ;    
    width: 100%;
    text-align: center;   
}

.copy p{
    text-align: center;
    font-size: 14px;
}

.legales a{
    padding: 5px;
    color: black;
    font-size: 15px;
    text-align: center;
}

.legales a:hover{
    color:darkblue;
}

/*Paginación*/

.flotante_izqda{
    float:left;
    margin:20px;
}
    
.flotante_dcha{
    float:right;
    margin:20px;
}
    
.clear{
    clear: right; /*Elmina el compartamiento float*/
}
    
.izqdo{
    float: left;
    margin: 10px;
}
    
.izqdo:hover, .decho:hover{
    background-color: rgba(28, 28, 231, 0.938);
}
    
.decho{
    float: right;
    margin: 10px;
}
    
.paginacion{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
}

.numero{
    background-color: white;
    color: rgb(28, 28, 231);
    border: solid 1px rgb(28, 28, 231);
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
}
    
.numero:hover{
    background-color: rgba(28, 28, 231, 0.315);
}

@media(max-width:1300px){

    .detalles img{
        width:400px;
        height: 300px;
    }
    .detalles2 img{
        width:400px;
        height: 300px;
    }
}

@media(max-width:940px){

    .detalles img{
        width:300px;
        height: 300px;
    }
    .detalles2 img{
        width:300px;
        height: 200px;
        margin-left: 100px;
    }
}

@media(max-width:860px){

    .detalles img{
        width:200px;
        height: 100px;
    }
    .detalles2 img{
        width:200px;
        height: 100px;
        margin-left: 100px;
    }
}

@media(max-width:720px){

    .burger, .burger2{
        display: initial;
    }

    nav{
        display: none;
    }

    .hero h1{
        font-size:35px; 
    }

    .hero h2{
        font-size:30px;
    }

    .contenedor{
       padding: 30px;
       margin: 10px;
    }

    .descripcion {
        width: 100%; 
    }

    .detalles img{
        width:300px ;
        height: 200px;
        margin-left:100px;
    }
    .detalles2 img{
        widows: 300px;
        height: 200px;
        margin-left:100px;
    }
       
    .izdo{
        margin-top: 20px;
        text-align: center; 
    }

    .dcho{
        text-align: center;
    }
}

@media(max-width:685px){



    .contenedor{
        margin-left: 175px;
    }

    .detalles img{
        /* width:200px;
        height: 100px; */
        margin-left: 250px;
    }
    .detalles2 img{
        /* width:200px;
        height: 100px; */
        margin-left: 250px;
    }

    .hero h1{
        font-size:25px; 
    }

    .hero h2{
        font-size:22px;
    }
}

@media(max-width:420px){

    .contenedor{
        margin: 40px;
    }

    .descripcion {
        width: 100%;
    }

    .texto{
        font-size: 15px;
    }

    h1{
        font-size: 20px;
    }

    .detalles img{
        width:300px;
        height: 200px;
        margin-left: 40px;
    }

    .detalles2 img{
        width:300px;
        height: 200px;
        margin-left: 40px;
    }

    .fila{
        font-size: 10px;
    }

    .izdo{
        margin-top: 20px;
        text-align: center; 
    }

    .dcho{
        text-align: center;
    }

    .col1 .col2{
        width: 100%;
    }
}