*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: bisque;
    font-size: 15px;
}

/*Cabecera*/

header{
    position: fixed;
    top:0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
    box-shadow: 0px 4px 4px rgba(89, 89, 236, 0.246);
    background-color: rgba(0, 0, 139, 0.219);
    z-index: 5;
    transition: all 300ms;
}

.burger{
    font-size: 34px;
    display: none;
}

a{
    color:white;
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
}
a:hover{
    color:darkblue;
}

li{
    color:white;
    font-size: 15px;
}

li:hover{
    color:darkblue;
}

i{
    color:white;
}

.logo{
    font-size: 50px;
    color: white;
}

header nav ul{
    list-style: none;
    display:flex;
    cursor: pointer;
}

header nav ul a{
    color: white;
}

header nav ul li{
    padding: 10px;
}

.burger{
    display: none;
    color: white;
}

/* Menú hamburguesa página nicio */
.menu{
    position: absolute;
    top: 0px;
    left: 0;
    width: 80%;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 139, 0.356);
    z-index: 10;
}

.cerrar{
    font-size: 34px;
    color: white;
}

.menu ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.menu ul a{
    padding: 10px;
}

.menu ul a:hover{
    background-color: rgb(86, 86, 235);
}

.menu ul a.activo{
    background-color: rgb(86, 86, 235);
}

/*Hero*/

.hero{
    height: 100vh;
    background-image: url('../Img/beach-2179624_1920.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1{
    color: white;
    font-size: 50px;
    justify-content: center;
}

h2{
    color:white;
    font-size: 40px;
    justify-content: center;
}

.fila{
    margin:20px;
    display: flex;
    flex-wrap: wrap;
}

.col1{
    flex-basis: 300px;
    flex-grow: 1;
    padding: 5px;
}

.col2{
    flex-basis: 300px;
    flex-grow: 2;
    padding: 5px;
}

.col50{
    display: flex;
    flex-direction: column;
    padding:20px;
    width: 50%;
}

.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
}

h4{
    padding: 5px;
    color: #3f3f3f;
}

.viñetas{
    color:black;
    text-decoration: none;
}

.viñetas:hover{
    color: black;
}

.formulario{
    padding: 10px;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    width: 50%;
    flex-grow: 1;
}

.boton{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn{
    margin-top: 10px;
    text-decoration: none;
    background-color: darkblue;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border-bottom: 4px solid rgb(62, 62, 167);
    align-self: center;
}

.btn:hover{
    background-color: rgb(62, 62, 167);
}

.imagen1{
    padding: 30px;
    display: flex;
    flex-direction: unset;
    flex-basis: 50%;
    flex-grow: 1;
}

.imagen2{
    padding: 30px;
    display: flex;
    flex-direction: unset;
    flex-basis: 50%;
    flex-grow: 1;
}

.consulta input{
    height: 100px;
    width: 600px;
}

.condiciones{
    text-align: center;
}

/*Contactos*/

.primera{
    margin-top: 100px;
}

.breadcrumbs{
    color: darkblue;
    padding: 10px;
}

.breadcrumbs a{
    color: darkblue;
}

.segunda{
    margin-top: 30px;
}

.direccion{
    line-height: 2em;
    margin: 30px;
    font-size: 20px;
}

.legales2 h1{
    font-size: 20px;
    padding: 5px;
    color:#3f3f3f;

}

.legales2 h2{
    font-size: 15px;
    padding: 5px;
    color: #3f3f3f;
}

.legales2 p{
    font-size: 13px;
    padding: 5px;
}

.legales2 li{
    font-size: 13px;
    padding: 5px;
    color:black;
}
.legales2 ul{
    padding-left: 40px;
}

/*Estilos para página mapa con overlay*/

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.698);
    opacity: 0;
    z-index: -1;
    transition: all 500ms ease;
}

.overlay.visible{
    opacity: 1;
    z-index: 9;
}

.modal{
    position: fixed;                    /*Respecto al viewport*/
    top: 50%;                           /*En el elemento en el que está*/
    left: 50%;
    transform: translate(-50%,-50%);    /*sobre el propio elemento*/
    width: 80%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.400);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transition: all 500ms ease;
    background-color: white;
}

.modal.visible{
    opacity: 1;
    visibility: visible;
}

.modal-header{
    font-size: 30px;
    padding: 15px;
    color: crimson;
}

/*Formulario Newslatter*/

.miniform{
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.miniform input{
    /* font-size: 20px; */
    padding: 10px;
}

input:focus{
    outline: none;
}

.miniform p{
    padding: 10px;
}

 /*Footer*/

 footer{
    background-color: #7f7fdb;
    background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%2300008b' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size:auto;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
 }

 .top{
    height: 30px;
    width: 30px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);/*La mitad del ancho del elemento(al estar expresado en %)*/
    font-size: 30px;
    color: darkblue; 
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2em;
}

footer p{
    font-size: 18px;
    padding: 5px;
}

.izdo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    flex-basis: 300px;
    flex-grow: 1
}

.centro{
    padding: 10px;
    flex-basis: 300px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centro a{
    padding: 5px;
    color: black;
    font-size: 18px;
}

.centro a:hover{
    color: #00008b;
}

.centro a.activo{
    color: darkblue;
}

a.activo{
    color: darkblue;
}

.dcho{
    padding: 10px;
    flex-basis: 300px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dcho a{
    padding: 5px;
    color: black;
    font-size: 20px;
    text-align: right;
}

.dcho a:hover{
    color: darkblue;
}

.copy{
    padding: 5px ;    
    width: 100%;
    text-align: center;   
}

.copy p{
    text-align: center;
    font-size: 14px;
}

.legales a{
    padding: 5px;
    color: black;
    font-size: 15px;
    text-align: center;
}

.legales a:hover{
    color:darkblue;
}

@media(max-width:990px){

    .hero{
        background-attachment: initial;
    }

    .hero h1{
        font-size:35px; 
    }

    .hero h2{
        font-size:30px;
    }
}

@media(max-width:860px){

    .hero{
        background-attachment: initial;
    }

    .hero h1{
        font-size:35px; 
    }

    .hero h2{
        font-size:30px;
    }
}

@media(max-width:720px){

    .hero{
        background-attachment: initial;
    }

    .burger{
        display: initial;
    }

    nav{
        display: none;
    }

    .hero h1{
        font-size:35px; 
    }

    .hero h2{
        font-size:30px;
    }

    .direccion{
        font-size: 15px;
    }
       
    .izdo{
        margin-top: 20px;
        text-align: center; 
    }

    .dcho{
        text-align: center;
    }
}

@media(max-width:685px){

    .hero{
        background-attachment: initial;
    }

    .hero h1{
        font-size:30px; 
    }

    .hero h2{
        font-size:25px;
    }

    .col1 img{
        width: 500px;
        height: 300px;
    }

    .col2 img{
        width: 500px;
        height: 300px;
    }
}

@media(max-width:600px){
    .hero h1{
        font-size:28px; 
    }
}

@media(max-width:550px){

    .hero{
        background-attachment: initial;
    }

    .hero h1{
        font-size:25px; 
    }

    .hero h2{
        font-size:20px;
    }

    .col1 img{
        width: 400px;
        height: 200px;
    }

    .col2 img{
        width: 400px;
        height: 200px;
    }
}

@media(max-width:500px){
    .hero h1{
        font-size:20px; 
    }
}

@media(max-width:420px){

    .hero{
        background-attachment: initial;
    }

    .fila{
        margin:20px 0px 20px 0px;
        font-size: 10px;
    }

    .hero h1{
        font-size:15px; 
    }

    .hero h2{
        font-size:10px;
    }

    .col1 li{
        font-size: 10px;
    }

    .direccion{
        font-size: 15px;
    }

    .legales2 h{
        font-size:15px;
    }

    .legales2 h2{
        font-size:10px;
    }

    .legales2 li{
        font-size:10px;
    }

    .legales2 p{
        font-size:10px;
    }

    .col1 img{
        width: 300px;
        height: 200px;
    }

    .col2 img{
        width: 300px;
        height: 200px;
    }

    .izdo{
        margin-top: 20px;
        text-align: center; 
    }

    .dcho{
        text-align: center;
    }

    .col1 .col2{
        width: 100%;
    }
}

@media(max-width:300px){
    .col1 img{
        width: 200px;
        height: 100px;
    }

    .col2 img{
        width: 200px;
        height: 100px;
    }
}


